@import url(fontes/idroid.otf);
@font-face {
    font-family: 'idroid' ;
    src: url(fontes/idroid.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Anta&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{   
    background-color: aquamarine;
    margin: auto;
}
header{
    background-image: linear-gradient(180deg,#64DDA4 ,#71FAB9, #56C08E, #2F684D, #004836) ;
    margin:0px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);

}
section{
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0px;
    text-align:center;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.5);
    background-color: white;
}
.header{
    padding-top: 15px;
    text-align: center;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    }
.cabecario{
    text-align: center;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; 
}
h1 {
    text-align: left;
    margin-top: 0px;
    padding-left : 10px;
    font-family: 'idroid';
    color: darkgreen;
  }
ul{
    color: white;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: -10px;
}
ul:hover{
    background-color: #00A27A;
    border-radius: 10px;
}
mark{
    background-color:aquamarine ;
    color: darkgreen;
}
.artigofinal{
    margin-left: 20px;
    margin-right: 20px;

}
.finaltitulo{
    font-family: sans-serif;
    background-color: #5FEA6F;
    margin-top: 20px;
    border-radius: 20px 20px;
    text-align: left;
    color:white
}
footer{
    background-color: #9AEBC5;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

}
.video{
    background-color: #004836;
}
iframe{
    margin-top: 10px;
    margin-bottom: 10px;
}
.pfinal{
    text-align: left;
    padding-left: 40px;
}
.special{
    text-align: left;
    padding-left: 20px;
}
.referencia{
    border-radius: 10px;
    margin-bottom: 0px;
    color: white;
    background-color: #004836;
    text-align:center
}
.lista2{
    padding-left: 400px;
    margin-bottom: 0px;
    margin-top: 0px;
}
ol{
    margin-bottom: 0px;
    margin-top: 0px;
}
th{
    padding-top: 0px;
    padding-bottom: 0px;
}
.primeiro{
    padding-left: 40px;
    margin-bottom: 0px;
}
.primeiro2{
    padding-left: 400px;
}

